/* OUR CSS */

.container {
	display: grid;
	/* visualize / place the areas */
	grid-template-areas: 
	"whatev	header	."
	"whatev	main 	ads"
	"footer	footer	.";
	
	/* choose column sizes with template columns */
	grid-template-columns: 200px 1fr 100px;

	gap: 10px;
}

header {
	grid-area: header;
}

nav {
	grid-area: whatev;
}

main {
	grid-area: main;
}

aside {
	grid-area: ads;
	background-color: fuchsia;
}

footer {
	grid-area: footer;
}

.overlay {
	background-color: #FF05;
	grid-column: whatev-start / ads-end;
	grid-row: main-start / footer-end;
}

/* PREV CSS */

*, *::before, *::after { 
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: sans-serif;
	margin: 0;
}
.container > * {
	color: white;
	padding: 20px;
	text-align: center;
}
header {
	background: #0db8e8;
}
nav {
	background: #0978e2;
}
main {
	background: #0000d5;
}
footer {
	background: #9700da;
}
