/* OUR CSS */

.container {
	display: grid;
	/* define the different columns in the grid */
	grid-template-columns: 100px 1fr 100px;
	/* repeat means create X number of rows at 1fr */
	grid-template-rows: repeat(6, 1fr);
	/* grid auto rows makes sure that any extra rows are 5em tall */
	grid-auto-rows: 5em;
	grid-auto-columns: 200px;
	/* auto flow chooses whether we add new columns or new rows with extra content */
	grid-auto-flow: column;

	/* overflow: if it goes outside the container */
	overflow: auto;
	/* overflow auto: show a scroll bar if we need it */

	gap: 10px;

	height: 80vh;
}

/* PREV CSS */

*, *::before, *::after { 
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: sans-serif;
	margin: 0;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
.container {
	border: 8px solid orange;
}
.container div {
	color: white;
	padding: 10px;
	text-align: center;
}
.container div:nth-child(4n+1) {
	background: #0db8e8;
}
.container div:nth-child(4n+2) {
	background: #0978e2;
}
.container div:nth-child(4n+3) {
	background: #0000d5;
}
.container div:nth-child(4n+4) {
	background: #9700da;
}