/* OUR CSS */

article {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 4fr 1fr;
}

article > * {
	grid-column: 2 / 3;
}

article blockquote,
article figure {
	grid-column: 1 / -1;
}

p {
	margin: 0;
}

aside {
	max-width: 260px;
}

aside.left {
	grid-column: 1 / 2;
	align-self: center;
	justify-self: right;
	text-align: right;
	border-left-width: 0px;
	border-right-width: 1px;
}

aside.right {
	grid-column: -2 / -1;
	align-self: center;
	justify-self: left;
}


@media (min-width: 950px) {
	article {
		/* max-width: 1000px; */
		margin: auto;
		grid-template-columns: 1fr 690px 1fr;
	}
}

/* PREV CSS */

*, *::before, *::after { 
	box-sizing: border-box;
}
:root {
	font-size: 1.125rem;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	margin: 20px auto;
	font-family: "Fauna One", serif;
	font-size: 1rem;
	line-height: 1.9;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
h1 {
	font-family: "Abril Fatface", serif;
	font-weight: 400;
	font-size: 15vw;
	line-height: 1;
	margin: 0;
}
a {
	color: hsl(219, 100%, 60%);
	text-decoration: none;
}
a:hover {
	color: hsl(219, 80%, 70%);
}
article > figure > img {
	width: 100%;
}
article > figure > figcaption {
	font-family: Vollkorn, serif;
	font-style: italic;
	font-weight: 600;
	margin: .7em;
	text-align: center;
}
article > blockquote {
	font-family: Vollkorn, serif;
	font-style: italic;
	font-size: 2rem;
	line-height: 1.4;
	text-align: center;
}
article > aside {
	font-size: .75rem;
	border: 0 solid #bbb;
	border-left-width: 1px;
	padding: 0 1em;
}
@media (min-width: 700px) {
	h1 {
		font-size: 8vw;
	}
}